# Shared defaults
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=user
DB_PASS=password
DB_NAME=banking
REDIS_ADDR=127.0.0.1:6379
RABBITMQ_URL=amqp://guest:guest@127.0.0.1:5673/

# gRPC addresses
USER_GRPC_ADDR=127.0.0.1:50053
ACCOUNT_GRPC_ADDR=127.0.0.1:50051
TX_GRPC_ADDR=127.0.0.1:50052

# API Gateway
HTTP_ADDR=:8080
REQUEST_TIMEOUT=5s

# User service SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=app_password
SMTP_FROM=your@gmail.com
SMTP_USE_TLS=true
SMTP_INSECURE_SKIP_VERIFY=false

